name: Update Data Info
on:
  push:
    branches: [data]
  workflow_run:
    workflows: [Clean and Merge]
    types: [completed]

concurrency:
  group: update_info_on_data
  cancel-in-progress: false

jobs:
  process-files:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: data
          fetch-depth: 10
          persist-credentials: true

      - name: Get changed files
        id: changed-files-write-output-files-json
        uses: tj-actions/changed-files@v47
        with:
          json: true
          write_output_files: true
          safe_output: false

      - name: Process public/
        run: |
          mkdir -p files
          mkdir -p public
          if [ "$(ls -A public 2>/dev/null)" ]; then
            cp -Rfv public/* files/
          fi

      # - name: Install Python dependencies (if needed)
      #   run: |
      #     if [ -f "requirements.txt" ]; then
      #       pip install --upgrade pip
      #       pip install -r requirements.txt
      #     fi

      - name: Detect changes
        run: |
          echo "all changed files :"
          jq . .github/outputs/all_changed_files.json
          echo ""
          echo "all changed and modified files :"
          jq . .github/outputs/all_changed_and_modified_files.json
      - name: Update Info
        run: |
          echo "changed files :"
          cat .github/outputs/all_changed_files.json
          echo ""
          echo "update:"
          python scripts/update_info.py

      - name: Process web/
        run: |
          mkdir -p files/web
          mkdir -p web
          rm -rf files/web || true
          cp -Rf web files/

      - name: Process web/
        run: |
          mkdir -p files/data
          mkdir -p data
          rm -rf files/data || true
          cp -Rf data files/
      - name: Tree
        run: tree . -F -L 10
      - name: Pull remote latest (conflict uses push b's content)
        run: |
          git branch --set-upstream-to=origin/data data
          git pull origin data -X theirs --no-edit

      - name: Auto-commit
        id: auto_commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "CI(info): update info [skip ci]"
          branch: data
          file_pattern: "files/**/* data/**/*"
          commit_user_name: "GitHub Actions"
          commit_user_email: "actions@github.com"
          # commit_author: "GitHub Actions"
          skip_dirty_check: false

      - name: Get pending Count
        id: get_pending_count
        run: |
          OWNER="${{ github.repository_owner }}"
          REPO="${{ github.event.repository.name }}"
          # workflow file name
          WORKFLOW="update_info.yml"
          TOKEN="${{ secrets.GITHUB_TOKEN }}"
          PENDING_COUNT=$(curl -s -L \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -H "Authorization: Bearer $TOKEN" \
            "https://api.github.com/repos/$OWNER/$REPO/actions/workflows/$WORKFLOW/runs?status=pending&per_page=1" \
            | jq -r '.total_count')
          echo "工作流（$WORKFLOW）的 pending 运行数量：$PENDING_COUNT"

          echo "pending_count=$PENDING_COUNT" >> $GITHUB_OUTPUT

      - name: After updating info
        if: ${{ steps.get_pending_count.outputs.pending_count == '0' }}
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          AUTO_COMMIT_HASH=$(git rev-parse HEAD)
          TARGET_REMOTE_BRANCH="refs/heads/dist"
          git push --force origin "$AUTO_COMMIT_HASH:$TARGET_REMOTE_BRANCH"
          NETLIFY_HOOK="${{ secrets.NETLIFY_HOOK }}"
          if [-n "$NETLIFY_HOOK"]; then
            curl -X POST -d '{}' "$NETLIFY_HOOK"
          fi
