name: Update Data Info
on:
  push:
    branches: [data]
  workflow_run:
    workflows: [Clean and Merge]
    types: [completed]

concurrency:
  group: update_info_on_data
  cancel-in-progress: false

jobs:
  process-files:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: data
          fetch-depth: 10
          persist-credentials: true

      - name: Get changed files
        id: changed-files-write-output-files-json
        uses: tj-actions/changed-files@v47
        with:
          json: true
          write_output_files: true

      - name: Process public/
        run: |
          mkdir -p files
          mkdir -p public
          if [ "$(ls -A public 2>/dev/null)" ]; then
            cp -Rfv public/* files/
          fi

      # - name: Install Python dependencies (if needed)
      #   run: |
      #     if [ -f "requirements.txt" ]; then
      #       pip install --upgrade pip
      #       pip install -r requirements.txt
      #     fi

      - name: Update Info
        run: |
          echo "changed files :"
          cat .github/outputs/all_changed_files.json
          echo ""
          echo "update:"
          python scripts/update_info.py

      - name: Process web/
        run: |
          mkdir -p files/web
          mkdir -p web
          rm -rf files/web || true
          cp -Rf web files/

      - name: Pull remote latest (conflict uses push b's content)
        run: |
          git branch --set-upstream-to=origin/data data
          git pull origin data -X theirs --no-edit

      - name: Auto-commit
        id: auto_commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "CI(info): update info [skip ci]"
          branch: data
          file_pattern: "files/**/*"
          commit_user_name: "GitHub Actions"
          commit_user_email: "actions@github.com"
          skip_dirty_check: false

      - name: Check Queue
        id: check_queue
        uses: softprops/turnstyle@v3
        with:
          continue-after-seconds: 1
          same-branch-only: true

      - name: After updating info
        if: steps.check_queue.outputs.force_continued == 'false' && steps.auto_commit.outputs.changes_detected == 'true'
        run: |
          AUTO_COMMIT_HASH=$(git rev-parse HEAD)
          TARGET_REMOTE_BRANCH="dist"
          git push -f origin "$AUTO_COMMIT_HASH:$TARGET_REMOTE_BRANCH"
