name: Upload Files in a Branch
on:
  push:
    branches: [upload]

concurrency:
  group: update_branch
  cancel-in-progress: false

jobs:
  process-files:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: data
          persist-credentials: true
          fetch-depth: 0

      - name: Get upload files
        run: |
          mkdir -p upload
          rm -rf upload
          mkdir -p upload
          git checkout origin/upload -- upload/
          if find upload -mindepth 1 -maxdepth 1 | read; then
            cp -rf upload/* files/
          fi
          rm -rf upload


      - name: Auto-commit
        id: auto_commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "CI(info): upload files"
          branch: data
          file_pattern: "files/**/* data/**/*"
          commit_user_name: "GitHub Actions"
          commit_user_email: "actions@github.com"
          # commit_author: "GitHub Actions"
          skip_dirty_check: false
